body{
	margin: 0 auto;
	background-image: url(../img/landscape.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
	width: 100%;
}
img{
	width: 50%;
	height: 100%;
}
.conti{
	display: flex;
	justify-content: center;
	align-self: flex-end;
	/*border: 2px solid blue;*/
}
.imagen{
	margin-top: 50%;
	/*border: 2px solid green;*/
}
