body{
	margin: 0 auto;
	background-image: url(../img/landscape.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}
img{
	width: 50%;
	height: 100%;
}
.conti{
	display: flex;
	justify-content: center;
	align-self: flex-end;
	border: 2px solid blue;
	margin: 0 auto;
	padding: 0;

}
.imagen{
	border: 2px solid green;

}
